body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 1);
    font-family: "Inter", sans-serif;
    text-align: center;
}

.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 120px;
    /* background-color: white; */
}

.logo img{
    cursor: pointer;
}

li{
    display: inline;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: black;
}
button{
    color: white;
    background-color: rgba(70, 145, 101, 1);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.nav-btn{
    color: white;
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    
}
.nav-btn:hover{
    color: #30B868;
    background-color: transparent;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.section-2 ul li:hover{
    color: #30B868;
    border-bottom: 2px solid #30B868;
}

/* Hero section */

.hero-section{
    background-image: url(./assets/hero-bg.png);
    background-color: linear-gradient(rgba(0, 25, 49, 0.8));
    height: 75vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    margin: 20px;
}

.msg-content{
    width: 220px;
    height: 50px;
    background-color: #f4f4f4;
    color: #30B868;
    padding: 0px 18px;
    border-radius: 50px;
    text-align: center;
    display: block;
}

.fa-circle{
   margin-right: 10px;
   box-shadow: 0 0 5px rgba(4, 212, 66, 2);
   border-radius: 60px;
}

.hero-text h1{
    font-size: 48px;
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
    font-size: 72px;
}
span{
    color: #30B868;
}

.hero-text p{
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 2;
}

.hero-btn{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.hero-btn button{
    padding: 15px 20px;
    font-size: 22px;
    background-color: rgba(70, 145, 101, 1);
}

.btn1 > img{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    
}

.hero-btn .btn1:hover{
    background-color: white;
    color: #30B868;
}

.hero-btn > .btn2{
    background-color: transparent;
    border: 2px solid white;
}


.hero-btn .btn2:hover{
    color: #30B868;
    border-color: #30B868;
}

/* Section 2 */

.section2{
    background-color: rgba(0, 0, 0, 0.06);
}

.section2-container{
    height: 420px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 120px;
}
    

.section2-content {
    height: 100%;
    width: 100%;

}

.section2-content h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 70px;
}
.section2-content p{
    line-height: 30px;
    color: #627382;
}   
.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.card{
    background-color: rgba(255, 255, 255, 1);
    padding: 48px 20px 20px;
    height: 260px;
    width: 20%;
    box-sizing: border-box;
    border-radius: 10px;
    
}

.card img{
    background-color: rgba(249, 85, 85, 1);
    padding: 10px;
    border-radius: 60px;
}

.card h3{

}

.card p{
    color: #627382;
    line-height: 19px;
    margin-top: 10px;
}

/* Section 3 */

.section3{
    background-color: rgba(255, 255, 255, 1);
}

.section3-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
}

.section3-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}

.section3 .left{
    width: 40%;
}

.section3 .left img{
    border-radius: 10px;
    
}

.section3 .right{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.solution{
    color: #30B868;
    text-transform: uppercase;
}

.right > h2{
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
    text-align: left;
    line-height: 60px;
}

.pera{
    color: #627382;
    line-height: 22px;
    margin-top: 10px;
    text-align: left;
    text-align: justify;
    letter-spacing: 1.5px;
}

.h4{
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1.2px;
}

.right img{
    margin-right: 6px;
    vertical-align: middle;
}

/* Section 4 */

.section4-container{
    height: 350px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}

.section4-content{
    width: 80%;
    background-color:rgba(247, 246, 242, 1);
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}

.section4-content h2{
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: 1.4px;
    line-height: 10px;
}

.section4-content p{
    color: #627382;
    text-align: center;
    letter-spacing: 1px;
    line-height: 30px;
}

.section4-content button{
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 20px;
}

.section4-content button:hover{
    background-color: white;
    color: #30B868;
}

.section4-content  img{
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

/* Footer */

.footer-container{
    background-image: linear-gradient(rgba(0, 25, 49, 1), rgba(0, 25, 49, 1));
    color: white;
}

.footer-content{
    width: 80%;
    height: 330px;
    margin: auto;
}

.upper-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-bottom: 30px;

}

.fa-facebook, .fa-twitter, .fa-linkedin{
    color: white;
    font-size: 20px;
    margin: 0px 10px;
    cursor: pointer;
}

.lower-footer{
    padding: 20px;
    color: #627382;
}

hr{
    border-color: #627382;
    opacity: 0.3;
}